<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BubbleBreaker.Properties.Settings.BubbleBreakerConnectionString"
            connectionString="Data Source=BHATTI;Initial Catalog=BubbleBreaker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BubbleBreaker.Properties.Settings.BubbleBreakerConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BubbleBreaker.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>