<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="testdb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="testdb.Properties.Settings.AddressBookConnectionString"
            connectionString="Data Source=BHATTI;Initial Catalog=AddressBook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testdb.Properties.Settings.StudentDBConnectionString"
            connectionString="Data Source=BHATTI;AttachDbFilename=|DataDirectory|\StudentDB.mdf;Initial Catalog=StudentDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testdb.Properties.Settings.StudentDBConnectionString1"
            connectionString="Data Source=BHATTI;Initial Catalog=StudentDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testdb.Properties.Settings.StudentDetailsConnectionString"
            connectionString="Data Source=BHATTI;Initial Catalog=StudentDetails;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="testdb.Properties.Settings.StudentCoursesConnectionString"
            connectionString="Data Source=BHATTI;Initial Catalog=StudentCourses;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="testdb.Properties.Settings.StudentMarksheetConnectionString"
            connectionString="Data Source=BHATTI;Initial Catalog=StudentMarksheet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="testdb.Properties.Settings.LoginConnectionString"
            connectionString="Data Source=BHATTI;Initial Catalog=Login;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <testdb.Properties.Settings>
            <setting name="Form1global" serializeAs="String">
                <value />
            </setting>
        </testdb.Properties.Settings>
    </applicationSettings>
</configuration>