.horizontalcssmenu UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.horizontalcssmenu UL LI
{
    DISPLAY: inline;
    FLOAT: left;
    POSITION: relative
}
.horizontalcssmenu UL LI A
{
    BORDER-RIGHT: #202020 1px solid;
    PADDING-RIGHT: 8px;
    BORDER-TOP: #202020 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 8px;
    BACKGROUND: url(../images/menubg.gif) repeat-x center center;
    PADDING-BOTTOM: 2px;
    FONT: bold 13px Tahoma;
    BORDER-LEFT: #202020 0px solid;
    WIDTH: 133;
    COLOR: black;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #202020 1px solid;
    TEXT-DECORATION: none
}
.horizontalcssmenu UL LI UL
{
    BORDER-TOP: #202020 1px solid;
    DISPLAY: block;
    Z-INDEX: 100;
    LEFT: 0px;
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 0px
}
.horizontalcssmenu UL LI UL LI
{
    DISPLAY: inline;
    FLOAT: none
}
.horizontalcssmenu UL LI UL LI A
{
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: normal;
    BORDER-LEFT-WIDTH: 1px;
    BACKGROUND: #d6dae7;
    BORDER-BOTTOM-WIDTH: 1px;
    PADDING-BOTTOM: 2px;
    WIDTH: 160px;
    PADDING-TOP: 2px;
    BORDER-RIGHT-WIDTH: 1px
}
.horizontalcssmenu UL LI A:hover
{
    BACKGROUND: url(../images/menubgover.gif) repeat-x center center
}
.horizontalcssmenu UL LI UL LI A:hover
{
    BACKGROUND: #EBEDF3
}
.horizontalcssmenu .arrowdiv
{
    RIGHT: 0px;
    BACKGROUND: url(../images/menuarrow.gif) no-repeat left center;
    POSITION: absolute
}
 HTML P#iepara
{
    PADDING-TOP: 1em
}
 HTML .horizontalcssmenu UL LI
{
    FLOAT: left;
    HEIGHT: 1%
}
 HTML .horizontalcssmenu UL LI A
{
    HEIGHT: 1%
}
