<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KDC_Client.Properties.Settings.KDCConnectionString"
            connectionString="Data Source=BHATTI;Initial Catalog=KDC;User ID=bharat123;Password=asd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>