<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KDC_Server.Properties.Settings.KDCConnectionString"
            connectionString="Data Source=bhatti;Initial Catalog=KDC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>