<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="displaytable.Properties.Settings.booksConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\books.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>