<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="1beb1fad-0d5d-42be-b42e-aebb4dcab6af"
            Publisher="CN=test"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>UnQuote</DisplayName>
    <PublisherDisplayName>test</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="UnQuote.App">
        <VisualElements
            DisplayName="UnQuote"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="UnQuote"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>